@import '../../../assets//styles';

.albumContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba($colour-black, 0.8);
  border-radius: 2.5px;
  overflow: hidden;
  padding: 0px;

  img {
    object-fit: cover;
    width: 85%;
    margin: 5% 0px;
    border: 1px solid rgba($colour-black, 0.8);;
  }

  .albumText {
    color: $colour-black;
    font-family: $font-main;
    margin: 7% 0px;
    padding: 0px;
  }
}

// Responsive Design

// S
@media screen and (max-width: $mob-width) {
  .albumText {
    font-size: 0.25rem;
  }
}

// M
@media screen and (min-width: $mob-width) and (max-width: $tablet-width) {
  .albumText {
    font-size: 0.5rem;
  }
}

// L
@media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
  .albumText {
    font-size: 0.5rem;
  }
}

// XL
@media screen and (min-width: $desktop-width) and (max-width: $hd-monitor-width) {
  .albumText {
    font-size: 0.5rem;
  }
}

// XXL
@media screen and (min-width: $hd-monitor-width) {
  .albumText {
    font-size: 0.5rem;
  }
}